<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描包含Spring注解的包 -->
    <context:component-scan base-package="com.app"/>

    <!-- 加载属性文件 -->
    <context:property-placeholder location="classpath:config.properties" file-encoding="UTF-8"/>

    <!-- 加载组件配置文件 -->
    <import resource="spring/spring-jdbc.xml"/>
    <import resource="spring/spring-mongo.xml"/>
    <import resource="spring/spring-memcached.xml"/>
    <import resource="spring/spring-rabbitmq-producer.xml"/>
    <import resource="spring-quartz.xml"/>

    <!-- 加载RabbitMQ工具类 -->
    <bean class="com.app.core.util.RabbitMQUtil"/>
</beans>