<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 导入公共配置 -->
    <import resource="spring-activemq-parent.xml"/>

    <!-- Topic 发布/订阅消息模板 -->
    <bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="pubSubDomain" value="true"/>
        <property name="sessionTransacted" value="true"/>
        <property name="defaultDestinationName" value="${mq.topic}"/>
    </bean>
    <!-- Queue 队列消息模板 -->
    <bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="pubSubDomain" value="false"/>
        <property name="sessionTransacted" value="true"/>
        <property name="defaultDestinationName" value="${mq.queue}"/>
    </bean>
</beans>